@{
    ViewData["Title"] = "Home Page";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/LoggedInUserIndex.css">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div id="card-body" class="card-body text-white mailbox-widget pb-0">
                    <h2 class="text-white pb-3">Your Favourites</h2>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="inbox" aria-labelledby="inbox-tab" role="tabpanel">
                        <div>
                            <!-- Mail list-->
                            <div class="table-responsive">
                                <table class="table email-table no-wrap table-hover v-middle mb-0 font-14">
                                    <tbody>
                                        <!-- row -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/Home.js"></script>