@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }

        .text-center {
            text-align: center;
        }

        .float-right {
            float: right;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #7831d6;
            color: #edc3f8;
            border: none;
            border-radius: 30px;
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Welcome to DocuIns</h1>
            <p>Let's see what that document is about!</p>
        </div>

        <div class="float-right">
            <button class="button"><i class="fa-solid fa-plus"></i> Create New</button>
        </div>
    </div>
</body>
</html>
