@{
    ViewData["Title"] = "Main Page";
}
<link rel="stylesheet" href="css/Document.css" />
<div class="main-container">
    <div class="left-side">
        <div class="pdf-container">
            <object data="Lab2_D6_Amazon.pdf" type="application/pdf" class="pdf-frame" height="300" width="20%">
            </object>
        </div>
    </div>
    <div class="right-side">
        
    </div>
</div>